.container {
    width: 100%;
    padding: 40px 20px;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title h1 {
    font-size: 3em;
    color: #ffffff;
    margin-bottom: 0.5em;
}

.header {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    color: #3a3335;
    display: flex;
    align-items: center;       
    justify-content:left; 
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    /*outline: 3px dashed blue;*/
}

.logo {
  display: flex;
  align-items: center; 
  gap: 20px;          
  font-size: 1.5rem;
  font-weight: bold;
}

.cadastrar {
  display: flex;
  align-items: center; 
  gap: 20px;          
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 2em;
    line-height: 1.5;
}

